.au-body {

  .health-grid {
    margin-left: -1rem;
    margin-right: -1rem;

    > * + p {
      margin-top: 0;
    }
  }
}

.health-grid {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;

  > * {
    box-sizing: border-box;
    flex-basis: 100%;
    -ms-flex: auto;
    padding: 1rem;
  }

  &--1col {

    &-xs > * {
      @include AU-media(xs) {
        flex-basis: calc(100% / 1);
        -ms-flex: auto;
      }
    }

    &-sm > * {
      @include AU-media(sm) {
        flex-basis: calc(100% / 1);
        -ms-flex: auto;
      }
    }

    &-md > * {
      @include AU-media(md) {
        flex-basis: calc(100% / 1);
        -ms-flex: auto;
      }
    }

    &-lg > * {
      @include AU-media(lg) {
        flex-basis: calc(100% / 1);
        -ms-flex: auto;
      }
    }
  }

  &--2col {

    &-xs > * {
      @include AU-media(xs) {
        flex-basis: calc(100% / 2);
        -ms-flex: auto;
      }
    }

    &-sm > * {
      @include AU-media(sm) {
        flex-basis: calc(100% / 2);
        -ms-flex: auto;
      }
    }

    &-md > * {
      @include AU-media(md) {
        flex-basis: calc(100% / 2);
        -ms-flex: auto;
      }
    }

    &-lg > * {
      @include AU-media(lg) {
        flex-basis: calc(100% / 2);
        -ms-flex: auto;
      }
    }
  }

  &--3col {

    &-xs > * {
      @include AU-media(xs) {
        flex-basis: calc(100% / 3);
        -ms-flex: auto;
      }
    }

    &-sm > * {
      @include AU-media(sm) {
        flex-basis: calc(100% / 3);
        -ms-flex: auto;
      }
    }

    &-md > * {
      @include AU-media(md) {
        flex-basis: calc(100% / 3);
        -ms-flex: auto;
      }
    }

    &-lg > * {
      @include AU-media(lg) {
        flex-basis: calc(100% / 3);
        -ms-flex: auto;
      }
    }
  }

  &--4col {

    &-xs > * {
      @include AU-media(xs) {
        flex-basis: calc(100% / 4);
        -ms-flex: auto;
      }
    }

    &-sm > * {
      @include AU-media(sm) {
        flex-basis: calc(100% / 4);
        -ms-flex: auto;
      }
    }

    &-md > * {
      @include AU-media(md) {
        flex-basis: calc(100% / 4);
        -ms-flex: auto;
      }
    }

    &-lg > * {
      @include AU-media(lg) {
        flex-basis: calc(100% / 4);
        -ms-flex: auto;
      }
    }
  }

  &--5col {

    &-xs > * {
      @include AU-media(xs) {
        flex-basis: calc(100% / 5);
        -ms-flex: auto;
      }
    }

    &-sm > * {
      @include AU-media(sm) {
        flex-basis: calc(100% / 5);
        -ms-flex: auto;
      }
    }

    &-md > * {
      @include AU-media(md) {
        flex-basis: calc(100% / 5);
        -ms-flex: auto;
      }
    }

    &-lg > * {
      @include AU-media(lg) {
        flex-basis: calc(100% / 5);
        -ms-flex: auto;
      }
    }
  }

  &--6col {

    &-xs > * {
      @include AU-media(xs) {
        flex-basis: calc(100% / 6);
        -ms-flex: auto;
      }
    }

    &-sm > * {
      @include AU-media(sm) {
        flex-basis: calc(100% / 6);
        -ms-flex: auto;
      }
    }

    &-md > * {
      @include AU-media(md) {
        flex-basis: calc(100% / 6);
        -ms-flex: auto;
      }
    }

    &-lg > * {
      @include AU-media(lg) {
        flex-basis: calc(100% / 6);
        -ms-flex: auto;
      }
    }
  }

  &--7col {

    &-xs > * {
      @include AU-media(xs) {
        flex-basis: calc(100% / 7);
        -ms-flex: auto;
      }
    }

    &-sm > * {
      @include AU-media(sm) {
        flex-basis: calc(100% / 7);
        -ms-flex: auto;
      }
    }

    &-md > * {
      @include AU-media(md) {
        flex-basis: calc(100% / 7);
        -ms-flex: auto;
      }
    }

    &-lg > * {
      @include AU-media(lg) {
        flex-basis: calc(100% / 7);
        -ms-flex: auto;
      }
    }
  }

  &--8col {

    &-xs > * {
      @include AU-media(xs) {
        flex-basis: calc(100% / 8);
        -ms-flex: auto;
      }
    }

    &-sm > * {
      @include AU-media(sm) {
        flex-basis: calc(100% / 8);
        -ms-flex: auto;
      }
    }

    &-md > * {
      @include AU-media(md) {
        flex-basis: calc(100% / 8);
        -ms-flex: auto;
      }
    }

    &-lg > * {
      @include AU-media(lg) {
        flex-basis: calc(100% / 8);
        -ms-flex: auto;
      }
    }
  }

}