{#
/**
 * @file
 * Custom template for request accessible documents link.
 */
#}
<p class="document-accessibility-form">
  {% trans %}We aim to provide documents in an accessible format. If you're having problems using a document with your accessibility tools, <a href="/request-accessible-format?destination={{ current_page }}" title="Request an accessible format" rel="nofollow">please contact us for help</a>.{% endtrans %}
</p>
