{#
/**
 * @file
 * Custom template for Table of Contents component.
 */
#}

{{ attach_library('health/table-of-contents') }}

{% if full_width == true %}
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <nav class="au-inpage-nav-links rs_skip rs_preserve" aria-label="On this page">
            <div class="au-inpage-nav-links__heading">{{ label }}</div>
          </nav>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <nav class="au-inpage-nav-links rs_skip rs_preserve" aria-label="On this page">
	  <div class="au-inpage-nav-links__heading">{{ label }}</div>
  </nav>
{% endif %}
