<div class="health-filter">
  <h3 class="health-filter__title au-display-md">
    {% include '@health/custom/health-icon.html.twig' with {'name': 'filter'} %}
    Filter results
  </h3>
  <p class="au-sronly">You can narrow down the results using the filters</p>
</div>
