{% embed "@health/content/node--teaser.html.twig" %}

  {% block column_right %}
    <div class="health-metadata health-metadata--inline au-display-sm--text">
      {{ content.field_h_resource_date }}
      {{ content.field_h_publication_type }}
    </div>
    {{ content|without('field_h_image_featured', 'field_h_resource_date', 'field_h_publication_type') }}
  {% endblock %}

{% endembed %}
