<?xml version="1.0" encoding="UTF-8"?>
<!-- Migrated for PHPUnit 11 (phpunit migrate-configuration). -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="/app/tests/phpunit/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         failOnWarning="true"
         cacheResult="false"
         defaultTestSuite="govcms"
         cacheDirectory=".phpunit.cache"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd">
  <php>
    <!-- Set error reporting to E_ALL. -->
    <ini name="error_reporting" value="32767"/>
    <!-- Do not limit the amount of memory tests take to run. -->
    <ini name="memory_limit" value="-1"/>
    <!-- Example SIMPLETEST_BASE_URL value: http://localhost -->
    <env name="SIMPLETEST_BASE_URL" value=""/>
    <!-- Example SIMPLETEST_DB value: mysql://username:password@localhost/databasename#table_prefix -->
    <env name="SIMPLETEST_DB" value=""/>
    <!-- Example BROWSERTEST_OUTPUT_DIRECTORY value: /path/to/webroot/sites/simpletest/browser_output -->
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value=""/>
    <!-- To disable deprecation testing completely uncomment the next line. -->
    <!-- <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/> -->
  </php>
  <testsuites>
    <testsuite name="unit">
      <file>/app/web/core/tests/TestSuites/UnitTestSuite.php</file>
    </testsuite>
    <testsuite name="kernel">
      <file>/app/web/core/tests/TestSuites/KernelTestSuite.php</file>
    </testsuite>
    <testsuite name="functional">
      <file>/app/web/core/tests/TestSuites/FunctionalTestSuite.php</file>
    </testsuite>
    <testsuite name="functional-javascript">
      <file>/app/web/core/tests/TestSuites/FunctionalJavascriptTestSuite.php</file>
    </testsuite>
    <testsuite name="theme">
      <directory>/app/web/themes</directory>
    </testsuite>
    <testsuite name="govcms">
      <directory>/app/tests/phpunit/tests</directory>
    </testsuite>
  </testsuites>
  <!-- Source for coverage reports. -->
  <source>
    <include>
      <directory>/app/web/core/includes</directory>
      <directory>/app/web/core/lib</directory>
      <directory>/app/web/core/modules</directory>
      <directory>/app/web/modules</directory>
      <directory>/app/web/sites</directory>
    </include>
    <exclude>
      <directory suffix="Test.php">./</directory>
      <directory suffix="TestBase.php">./</directory>
    </exclude>
  </source>
</phpunit>
