{#
/**
 * @file
 * Funnelback search form.
 */
#}
<div class="health-search health-search__form health-search--global">
  <div class="health-search__form__input-wrapper">
    <form action="{{ funnelback_results_url }}" method="get">
      <div class="au-form__item">
        <label class="sr-only" for="funnelback-query">Search</label>
        <input placeholder="Search this website" type="text" id="funnelback-query" name="query" value="" size="30" maxlength="128" class="health-search__form__input au-text-input au-text-input--block au-text-input au-text-input--block" autocomplete="off">
      </div>
      <input class="health-search__form__submit au-btn au-btn button " type="submit" id="funnelback-query-submit" value="Apply"/>
    </form>
  </div>
</div>