{% extends "@health/field/includes/health-field-document-with-accessibility-request.html.twig" %}

{% block above %}
  <h2{{ title_attributes.addClass(title_classes).addClass('health-field__label') }}>{{ "Downloads"|t }}</h2>
{% endblock %}
